@font-face {
  font-family: "alte_haas_groteskbold";
  src: url("assets/altehaasgroteskbold-webfont.woff2") format("woff2"),
    url("assets/altehaasgroteskbold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}
#background-container::-webkit-scrollbar {
  display: none;
}
.child-background-container::-webkit-scrollbar {
  display: none;
}


/*   for computer screens   */

@media screen and (min-width: 700px) {
  body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
  }
#background-container-phone{
  display: none;
}
  #background-container {
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
  }

  .projects {
    height: 100vh;
    width: 750px;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    flex-shrink: 0;
  }

  #container-bio {
    height: 100vh;
    width: auto;
    position: fixed;
    left: 0;
    z-index: 100;
    padding: 10px;
  }
  #t-bio {
    width:50px;
    font-family: "alte_haas_groteskbold";
    font-size: 15pt;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
  }
  #contact-container{
    height: auto;
    width: 100px;
    position: fixed;
    bottom: 10px;
    right: 100px;
    z-index: 100;
    padding: 10px;
  }
  .contact-t{
    width:50px;
    font-family: "alte_haas_groteskbold";
    font-size: 10pt;

  }
  a.contact-link{
    color: black;
    text-decoration: none;
  }
  a.contact-link:hover{
    color: rgb(58, 58, 58);
    text-decoration: none;
  }


  img.image{
    width:600px;
    height:auto;
    opacity: 30%;
    /*filter: invert(1) grayscale(1);
    mix-blend-mode: difference;*/
  }
  img.image:hover{
    opacity: 100%;
    filter: none;
  }

  #analog-container{
    width: 900px;
  }

  img.analog-image{
    width:300px;
  }

  a.project-link{
    position: absolute;
    top: 80vh;
    left: 60%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "alte_haas_groteskbold";
    font-size: 20pt;
    text-align: left;
    z-index: 9999;
  }
  a.project-link:hover{
    color: rgb(0, 0, 0);
  }

  a#analog-link{
    position: absolute;
    top: 80vh;
    left: 60%;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: "alte_haas_groteskbold";
    font-size: 20pt;
    text-align: left;
    z-index: 9999;
  }
  a#analog-link:hover{
    color: rgb(73, 73, 73);
  }

  .child-background-container{
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
  }

  .child-image{
    height:100vh;
    display: inline-block;
    flex-shrink: 0;

  }
  .child-t{
    position: relative;
    width:60vw;
    left: 20%;
    top:20%;
    margin: 0%;
    color: white;
    font-family: "alte_haas_groteskbold";
    font-size: 15pt;
    text-align: left;
  }
  .child-t2{
    position: relative;
    inline-size: 24vw;
    word-wrap: break-word;
    left: 60%;
    top:55%;
    margin: 0%;
    color: white;
    font-family: "alte_haas_groteskbold";
    font-size: 10pt;
    text-align: left;
    line-height: 2;
    z-index: 1000;
  }

  .child-t-container{
    width:60vw;
    height: 100vh;
    margin: 0%;
    background-color: rgb(0, 0, 0);
  }
.back{
  position: fixed;
  bottom: 10px;
  width: 20px;
  height: 20px;
  background-image: url(assets/arrow_back_FILL0_wght100_GRAD0_opsz40.svg);
}
  

}

 

@media screen and (max-width: 700px) {
  body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  #background-container {
    display: none;
  }
  #background-container-phone{
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
  }
  .main-image {
    height: auto;
    width: 50vw;
    position: relative;
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 50px;
    display: inline-block;
    flex-shrink: 0;
  }
  #container-bio {
    height: auto;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 10px;
  }
  #t-bio {
    font-family: "alte_haas_groteskbold";
    font-size: 10pt;
  }

  #contact-container{
    height: auto;
    width: 20px;
    position: fixed;
    bottom: 10px;
    right: 30vw;
    z-index: 100;
    padding: 10px;
  }
  .contact-t{
    width:50px;
    font-family: "alte_haas_groteskbold";
    font-size: 8pt;

  }
  a.contact-link{
    color: black;
    text-decoration: none;
  }
  a.contact-link:hover{
    color: rgb(58, 58, 58);
    text-decoration: none;
  }
  img.image{
    width:45vw;
    height:auto;
    opacity: 30%;
    /*filter: invert(1) grayscale(1);
    mix-blend-mode: difference;*/
  }

  a.project-link{
    position: absolute;
    top: 60%;
    left: 20vw;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "alte_haas_groteskbold";
    font-size: 20pt;
    text-align: left;
    z-index: 9999;
  }


  /* child pages */
  .child-background-container{
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    background-color: black;
  }

  .child-image{
    width:100vw;
    display: inline-block;
    flex-shrink: 0;

  }
  .child-t{
    position: relative;
    width:60vw;
    left: 10%;
    top:20%;
    margin: 0%;
    color: white;
    font-family: "alte_haas_groteskbold";
    font-size: 15pt;
    text-align: left;
  }
  .child-t2{
    position: relative;
    inline-size: 24vw;
    word-wrap: break-word;
    left: 20vw;
    top:55%;
    margin: 0%;
    color: white;
    font-family: "alte_haas_groteskbold";
    font-size: 10pt;
    text-align: left;
    line-height: 2;
    z-index: 1000;
  }

  .child-t-container{
    width:100vw;
    height: 10vh;
    margin: 0%;
    position: fixed;
    z-index: 100;
  }
.back{
  position: fixed;
  bottom: 10px;
  width: 20px;
  height: 20px;
  background-image: url(assets/arrow_back_FILL0_wght100_GRAD0_opsz40.svg);
}

}