@font-face {
    font-family: 'alte_haas_groteskbold';
    src: url('assets/altehaasgroteskbold-webfont.woff2') format('woff2'),
         url('assets/altehaasgroteskbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
p{
    font-family: 'alte_haas_groteskbold';
   font-size: 15pt;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}